/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700;800&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  font-family: font-main;
  background-color: #020A18;
  color: #fff;
  font-size: 16px;
}

a {
  color: #fff;
  -webkit-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}
a:hover {
  color: #3A68B8;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 1176px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 21px;
  padding-bottom: 99px;
  min-height: 1030px;
}

.header__top-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__title {
  text-align: left;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  font-weight: 800;
}

.header__title-1 {
  margin-bottom: 10px;
  text-align: left;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
}

.header__title-2 {
  text-align: left;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  font-weight: 800;
  font-size: 55px;
  margin-bottom: 40px;
}

.header__title-3 {
  margin-bottom: 50px;
  text-align: left;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
}

.header__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  -webkit-transition: background-color 0.3s linear;
  transition: background-color 0.3s linear;
}

.btn {
  height: 57px;
  background-color: #3A68B8;
  padding: 15px 30px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 600;
}

.header-mainphoto {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 7fr 5fr;
  grid-template-columns: 7fr 5fr;
}

.header__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 71px;
     -moz-column-gap: 71px;
          column-gap: 71px;
  padding-bottom: 143px;
}

.nav {
  font-size: 16px;
  font-weight: 600;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
}

.info__text {
  text-align: right;
}

.info__title {
  font-family: "Open Sans", sans-serif;
  color: #fff;
  font-weight: 700;
  font-size: 40px;
  padding-bottom: 30px;
}

.info-subtitle {
  font-family: "Open Sans", sans-serif;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  padding-bottom: 50px;
}