.project-slider-container {
    display: flex;
    column-gap: 30px;
    padding-bottom: 50px;
    
}

.project-slider {
    display: flex;
    width: 362px;
    max-height: 389px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 30px;
  

    
}

.project-slider-img {
    justify-content: center;
    align-items: center;
    margin-bottom: 47px;
    margin-top: 17px;
}

.project-slider-title {
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    opacity: 0.7;
    margin-bottom: 37px;

}

.project-slider-text {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    opacity: 0.7;
    margin-bottom: auto;
}

.wrapper {
    display: flex;
    grid-gap: 1em;
    overflow: hidden;
    
    & > .project-slider {
      display: flex;
      grid-gap: 1em;
    //   transition: all 1s ease-in-out;
    transition:all 1s ease-in;
    }
}

.slider-controls {
    padding-top: 50px;
    padding-bottom: 170px;
    text-align: center;
    & > button {
        all: unset;
        @include circle(15px);
        background: lighten($cardcolor, 10);
        cursor: pointer;
        margin: 0 0.125em;
        position: relative;
        user-select: none;
        opacity: 50%;
    }
}

#slider-center {
    opacity: 100%;
}
