.feature-sliders {
    
}

.project-slider {
    width: 362px;
    height: 389px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
    
}

// .project-slider-img {
//     /*max-width: 100%;*/
//     float: left;
//     overflow:hidden
// }

.project-slider-img {
    justify-content: center;
    align-items: center;
}

.project-slider-title {
    text-align: center;
    font-size: 25px;
    font-weight: 700;
}

.project-slider-text {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}