.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding-top: 21px;
    padding-bottom: 99px;

    min-height: 1030px;
}

.header__top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__title {
    text-align: left;
    font-family: $font-main;
    color: $white;
    font-weight: 800;
}

.header__title-1 {
    margin-bottom: 10px;
    @include headersubtitle;
}

.header__title-2 {
    text-align: left;
    font-family: $font-main;
    color: $white;
    font-weight: 800;
    font-size: 55px;
    margin-bottom: 40px;
}

.header__title-3 {
    margin-bottom: 50px;
    @include headersubtitle;
}

.header__button{
    display: flex;
    column-gap: 20px;
    transition: background-color 0.3s linear;
    
}

.btn {
    height: 57px;
    background-color: $accent;
    padding: 15px 30px;
    align-items: flex-start;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
}
.header-mainphoto {
    display: grid;
    grid-template-columns: 7fr 5fr;
}


.header__card {
    display: flex;
    column-gap: 71px;
    padding-bottom: 143px;
}