.info {
    padding-bottom: 300px;
}

.info__text {
    text-align: right;
    padding-top: 143px;
}


.info__title {
    font-family: $font-main;
    color: $white;
    font-weight: 700;
    font-size: 40px;
    padding-bottom: 30px;
}

.info-subtitle {
    font-family: $font-main;
    color: $white;
    font-weight: 600;
    font-size: 16px;
    padding-bottom: 50px;
}

.photobraininfo {
    position: absolute;
    right: 883px;
    top: 992px;
}