@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700;800&display=swap');


body {
    font-family: font-main;
    background-color: $dark;
    color: $white;
    font-size: 16px;
}

a {
    color: $white;
    transition: color 0.2s ease-in;

    &:hover {
        color: $accent;
    }
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    width: 1176px;
}